<form>
    <button type="button" class="reset-migration">{{localize "TOKENATTACHER.button.gmMenu.ResetMigration"}}</button>
    <button type="button" class="scene-migration">{{localize "TOKENATTACHER.button.gmMenu.SceneMigration"}}</button>
    <button type="button" class="actor-migration">{{localize "TOKENATTACHER.button.gmMenu.ActorsMigration"}}</button>
    <button type="button" class="compendium-migration">{{localize "TOKENATTACHER.button.gmMenu.CompendiumsMigration"}}</button>
    <button type="button" class="import-json-dialog">{{localize "TOKENATTACHER.button.gmMenu.ImportJSONDialog"}}</button>
    <button type="button" class="export-actors-to-json">{{localize "TOKENATTACHER.button.gmMenu.ExportActorsToJSON"}}</button>
    <button type="button" class="purge-ta-data-in-scene">{{localize "TOKENATTACHER.button.gmMenu.PurgeTADataInScene"}}</button>
</form>