<div id="tokenAttacher" class="flexrow">
    <div class="app image" style="background-image:url({{token-image}});"><span class="token-name"><span>{{token-name}}</span></span></div>
    <ol class="control-tools flexcol">
        <li class="control-tool select" title="{{localize "TOKENATTACHER.button.select"}}">
            <i class="fas fa-expand"></i>
        </li>
        <li class="control-tool link" title="{{localize "TOKENATTACHER.button.link"}}">
            <i class="fas fa-link"></i>
        </li>
        <li class="control-tool unlink" title="{{localize "TOKENATTACHER.button.unlink"}}">
            <i class="fas fa-unlink"></i>
        </li>
        <li class="control-tool unlink-all" title="{{localize "TOKENATTACHER.button.unlink-all"}}">
            <i class="fa fa-trash"></i>
        </li>
        <li class="control-tool lock" title="{{localize "TOKENATTACHER.button.lock"}}">
            <i class="fas fa-lock"></i>
        </li>
        <li class="control-tool unlock" title="{{localize "TOKENATTACHER.button.unlock"}}">
            <i class="fas fa-unlock"></i>
        </li>
        <li class="control-tool highlight" title="{{localize "TOKENATTACHER.button.highlight"}}">
            <i class="fas fa-sun"></i>
            <i class="far fa-sun hidden"></i>
        </li>
        <li class="control-tool copy" title="{{localize "TOKENATTACHER.button.copy"}}">
            <i class="fas fa-copy"></i>
        </li>
        <li class="control-tool paste" title="{{localize "TOKENATTACHER.button.paste"}}">
            <i class="fas fa-paste"></i>
        </li>
        <li class="control-tool toggle-animate" title="{{localize "TOKENATTACHER.button.toggleAnimate"}}">
            <i class="fas fa-running"></i>
        </li>
    </ol>
    <div class="control-tool close" title="{{localize "TOKENATTACHER.button.close"}}">
        <i class="fas fa-times-circle"></i>
    </div>
</div>