<div id="tokenAttacher" class="flexrow">
    <div class="app image" style="content:url({{token-image}});"></div>
    <ol class="control-tools flexcol">
        <li class="control-tool link">
            <i class="fas fa-link"></i>
        </li>
        <li class="control-tool unlink">
            <i class="fas fa-unlink"></i>
        </li>
        <li class="control-tool lock">
            <i class="fas fa-lock"></i>
        </li>
        <li class="control-tool">
            <i class="fa fa-calendar"></i>
        </li>
    </ol>
    <div class="control-tool close">
        <i class="fas fa-times-circle"></i>
    </div>
</div>